<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>직무 기반 검색</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
        #result {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .position-checkboxes {
            display: flex;
            flex-wrap: wrap;
        }
        .position-checkboxes div {
            width: 20%; /* 5열로 표시하려면 100%를 5로 나눈 값을 지정 */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- AJAX 요청에 필요한 CSRF 토큰 생성 -->
    <script>
        $(document).ready(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
</head>
<body>
    <form id="job-search-form" action={% url 'job_search_api' %} method="POST">
    {% csrf_token %}
        <p>
            <label for="{{ form.position.id_for_label }}">{{ form.position.label }}</label>
            <div class="position-checkboxes">
                {% for choice in form.position.field.choices %}
                <div>
                    <input type="checkbox" name="{{ form.position.html_name }}" id="{{ form.position.auto_id }}_{{ forloop.counter0 }}" value="{{ choice.0 }}" {% if choice.0 in form.position.value %}checked{% endif %}>
                    <label for="{{ form.position.auto_id }}_{{ forloop.counter0 }}">{{ choice.1 }}</label>
                </div>
                {% endfor %}
            </div>
        </p>
        <p>
            <label for="{{ form.min_experience.id_for_label }}">{{ form.min_experience.label }}</label>
            <select name="{{ form.min_experience.html_name }}" id="{{ form.min_experience.auto_id }}">
                {% for choice in form.min_experience.field.choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == form.min_experience.value %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="{{ form.min_wage.id_for_label }}">{{ form.min_wage.label }}</label>
            <select name="{{ form.min_wage.html_name }}" id="{{ form.min_wage.auto_id }}">
                {% for choice in form.min_wage.field.choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == form.min_wage.value %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">검색하기</button>
    </form>
    <div id="result"></div>
    <div id="result"></div>
    <script>
        $(document).ready(function() {
            $('#job-search-form').on('submit', function(e) {
                e.preventDefault();
                $('#job-search-form').nextAll('img').remove();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function(data) {
                        $.ajax({
                            url: 'create_img',  <!-- 시각화 함수를 처리하는 URL -->
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            success: function(img_data) {
                                var now = new Date().getTime();
                                <!-- 서버로부터 받아온 이미지 URL로 img 태그 생성 -->
                                var img1 = '<img src="' + img_data.job_freq_hist + '?v=' + now + '" style="width:70%;">';
                                var img2 = '<img src="' + img_data.job_tech_graph + '?v=' + now + '" style="width:50%;">';
                                var img3 = '<img src="' + img_data.wage_pos_hist + '?v=' + now + '" style="width:80%;">';

                                <!-- 생성한 img 태그를 HTML 문서에 추가 -->
                                $('#job-search-form').after(img1, img2, img3);
                                <!-- form 초기화 -->
                                $('#job-search-form')[0].reset();
                            }
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>